<div class="block">
    <h2 class="block-title">Chapters</h2>
    <ul class='text-left'>
        <li class="is-active">
            <a href="@Url.Action("Index","Home")">Home</a>
        </li>
        <li>
            <a href="@Url.Action("Index","News")">News</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Partners")">Partners</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Contact")">Contact</a>
        </li>
    </ul>
    <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
</div>
