@model IEnumerable<Article>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrontLayout.cshtml";
}

<div id="inner-wrap" class=' main_page'>
    <div class='all-page-wrap'>
        <header id="top" role="banner">
            <div>
                <div class="logo col-xs-8"><img class='img-responsive' src="~/Content/img/logo.png"></div>
                <a class="nav-btn navbar-toggle" id="nav-open-btn" href="#nav">
                    <span class='menu_text pull-left'>MENY</span>
                    <div class='icon-set pull-right'>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                </a>
            </div>
        </header>

        <nav id="nav" role="navigation">
            @Html.Action("Navigation","Home")
        </nav>
    </div>
    <div class='content'>
        <div class='not_main_page'>
            <div class='container'>
                <label>samardeidspartnere</label>
                <div class='rows'>
                    @foreach (var item in Model)
                    {
                    <div class='col-xxs-12 col-xs-6 col-md-3 contact_box'>
                        <h5>@item.Headline</h5>
                        <p class='contact-box-section-spacing'>
                            @item.Body
                        </p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


