<!DOCTYPE html>
<html class=''>
<head>
    <title>Trolltampen</title>
    <meta charset='windows-1251'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- adding CSS files -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/custom_style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/media_q.css">

    <!-- adding JS files -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- adding "Off-Canvas Navigation" files -->

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="~/Content/off-canwas.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="outer-wrap">
        @RenderBody()
    </div>
    <!--/#outer-wrap-->
    <!-- IMPORTANT! leave the script tag on his place! -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>